/*! Copyright(c) 2017 https://github.com/taengstagram

This software is released under the Reciprocal Public License 1.5.
https://opensource.org/licenses/RPL-1.5
*/

body {
    margin: 0; padding: 0;
    background-color: #333; color: #eee;
    font-family: Arial;
    font-size: 12pt;
}
.footer {
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    margin: 0;
    .brand { 
        float: right;
        margin-right: 1em;
        font-size: 0.8em;
        color: #bbb;
        a {
            color: #ccc;
            text-decoration: none;
            font-weight: bold;
        }

    }
    .notice {
        float: left;
        margin-left: 1em;
        a {
            color: #ffc107;
            font-weight: bolder;
        }
    }
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
    label { margin-right: 1em; }
    #mpdInput { min-width: 50vw; }
}

.container, #videoContainer { text-align: center; }

@maxPlayerHeight: 96vh;
@playerRed: #c4302b;

#videoContainer {
    max-height: @maxPlayerHeight;
    width: 100vw;
}


video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: @maxPlayerHeight;
}

.shaka {
    &-fullscreen-button {
        background-color: @playerRed;
    }
    &-mute-button[aria-label="Unmute"] {
        color: @playerRed;
        animation: blinker 1.5s linear infinite;
    }
}

.custom-live-indicator {
    font-size: 12px;
    text-transform: uppercase;
    cursor: auto;
    &-is-live::before {
        content: "● ";
        color: @playerRed;
        font-weight: bold;
        animation: blinker 2s linear infinite;
    }
}

.custom-quality-indicator {
    cursor: auto;
    &.abr {
        max-width: 2.5em;
        overflow: hidden;
        span {
            animation: scrollText 3s infinite linear;
            position: relative;
            display: inline-block;
            white-space: nowrap;
        }
    }
}

@keyframes blinker {
    50% { opacity: 0.2; }
}

@keyframes scrollText {
    from {
        transform: translateX(95%);
    }
    to {
        transform: translateX(-100%);
    }
}
