/*! Copyright(c) 2017 https://github.com/taengstagram

This software is released under the Reciprocal Public License 1.5.
https://opensource.org/licenses/RPL-1.5
*/

body {
    margin: 0; padding: 0;
    background-color: #333; color: #fff;
    font-family: Arial;
    font-size: 12pt;
}
.footer {
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    margin: 0;
    .brand { 
        float: right;
        margin-right: 1em;
        font-size: 0.8em;
        color: #bbb;
        a {
            color: #ccc;
            text-decoration: none;
            font-weight: bold;
        }

    }
    .notice {
        float: left;
        margin-left: 1em;
        a {
            color: #ffc107;
            font-weight: bolder;
        }
    }
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
    label { margin-right: 1em; }
    #mpdInput { min-width: 50vw; }
}

.container, #videoContainer { text-align: center; }
#videoContainer { height: 96vh; }

@playerRed: #c4302b;

.video-js {
    .vjs-fullscreen-control {
        background-color: @playerRed;
    }
    .vjs-big-play-button {
        background-color: @playerRed;
        opacity: 0.85;
        &:focus:extend(.video-js:hover .vjs-big-play-button) {}
    }

    &:hover .vjs-big-play-button {
        background-color: @playerRed;
        opacity: 1.0;
    }

    .vjs-live-display::before {
        content: "● ";
        color: @playerRed;
        font-weight: bold;
        animation: blinker 2s linear infinite;
    }

    .vjs-vol-0 {
        color: @playerRed;
        animation: blinker 1.5s linear infinite;
    }

    .vjs-control-bar {
        background: linear-gradient(to top,#000 0,rgba(43,51,63,.7) 100%);
    }
}
@keyframes blinker {
    50% { opacity: 0.2; }
}
